@layer tailwind-base, primereact, tailwind-utilities;

@import "primereact/resources/themes/lara-light-pink/theme.css";

/* PrimeReact 핵심 CSS */
@import "primereact/resources/primereact.min.css";

/* PrimeIcons CSS */
@import "primeicons/primeicons.css";

/* SUITE 폰트 추가 */
@font-face {
  font-family: "SUITE";
  src: url("/font/SUITE-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SUITE";
  src: url("/font/SUITE-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SUITE";
  src: url("/font/SUITE-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SUITE";
  src: url("/font/SUITE-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SUITE";
  src: url("/font/SUITE-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SUITE";
  src: url("/font/SUITE-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
  #root {
    @apply max-w-lg mx-auto;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
